@model List<GetCommentByBlogIdAdminDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
    string text = "";
}
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="font-weight:bold">Yorum Listesi</h4>
            <p class="card-subtitle mb-4">
                <span style="font-size:15px"> İlgili Bloga Yapılmış Yorumlar Aşağıda Listelenmiştir.</span>
            </p>
            <div class="table-responsive">
                @if (Model.Count == 0)//hiç yorum yoksa
                {
                text = "İLGİLİ BLOĞA HİÇ YORUM YAPILMADI!";
                }
                <h4 style="color:darkgreen">@text</h4>
                <div class="col-md-12">
                    <div class="card">
                        @foreach(var x in Model)
                        {
                           
                            count++;
                            <h5 class="card-header"><span style="color:red">Yorum (@count) </span><span style="color:blue">Eklenme Tarihi:@Convert.ToDateTime(x.CommentDate).ToString("dd/MM/yyyy")</span></h5>
                        <div class="card-body">
                            <h4 class="card-title" style="font-weight:bold">@x.NameSurname</h4>
                            <p class="card-text" style="font-size:15px">
                               @x.Content
                            </p>
                                <a href="/BlogController1/BlogDetails/@x.BlogId" class="btn btn-info waves-effect waves-light">İlgili Bloga Git</a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



