@model List<GetLocationAdminDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="font-weight:bold">Konumların Listesi</h4>
            <p class="card-subtitle mb-4">
                <span style="font-size:15px"> Arabalarımızın Rezervasyon Sistemindeki Konumların Listesi Aşağıda Verilmiştir..</span>
            </p>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead style="background-color:dimgray;color:white">
                        <tr>
                            <th>#</th>
                            <th>Konum Adı:</th>
                            <th>Detaylar</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@x.PointName</td>
                                <td><a href="/Admin/AdminLocation/UpdateLocation/@x.LocationId" class="btn btn-warning">Detaylar</a></td>
                                <td><a href="/Admin/AdminLocation/DeleteLocation/@x.LocationId" class="btn btn-danger">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/Admin/AdminLocation/CreateLocation" class="btn btn-success">Yeni Konum</a>
    </div>
</div>


