@model UpdateBrandAdminDTO
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="font-weight:bold">Marka Güncelleme Paneli</h4>
            <p class="card-subtitle mb-4">(Sitedeki Markayı Güncellemek için aşağıdaki işlemleri yapınız.)</p>
            <form method="post">
                @Html.HiddenFor(x=>x.BrandId)
                <div class="form-group">
                    <label style="color:orangered" for="simpleinput">Marka İsmi:</label>
                    <input type="text" asp-for=Name class="form-control" placeholder="Marka İsmini Giriniz...">
                </div>
                <button class="btn btn-warning" style="margin-top:4px">Güncelle</button>
            </form>
        </div>
    </div>
</div>


