@model List<GetPricingAdminDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="font-weight:bold">Süreç Listesi</h4>
            <p class="card-subtitle mb-4">
                <span style="font-size:15px"> Arabalarımızın Fiyatlandırma Süreçlerinin Listesi Aşağıda Verilmiştir.</span>
            </p>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead style="background-color:darkcyan;color:white">
                        <tr>
                            <th>#</th>
                            <th>Süreç Adı:</th>
                            <th>Detaylar</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@x.Name</td>
                                <td><a href="/Admin/AdminPricing/UpdatePricing/@x.PricingId" class="btn btn-info">Detaylar</a></td>
                                <td><a href="/Admin/AdminPricing/DeletePricing/@x.PricingId" class="btn btn-danger">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/Admin/AdminPricing/CreatePricing" class="btn btn-success">Yeni Süreç</a>
    </div>
</div>


