@model CreateFeatureAdminDTO
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="font-weight:bold">Yeni Özellik Ekleme Paneli</h4>
            <p class="card-subtitle mb-4">(Siteye Yeni Özellik Girişi Yapınız.)</p>
            <form method="post">
                <div class="form-group">
                    <label style="color:orangered" for="simpleinput">Özellik Adı:</label>
                    <input type="text" asp-for=Name class="form-control" placeholder="Özellik Adını Giriniz...">
                </div>
                <button class="btn btn-success" style="margin-top:4px">Kaydet</button>
            </form>
        </div>
    </div>
</div>


